form#login-form.form-inline(action="/login", method="post")
	input(type="hidden", name="_csrf", value=csrfToken)
	.form-group 
		label.sr-only username
		input.form-control(name="username", placeholder="User Name")
	.form-group 
		label.sr-only password
		input.form-control(name="password", placeholder="Password")
	button.btn.btn-default(type="submit") Sign in

	a.btn.btn-default(href="/registration") Register