.modal-dialog(ng-click='hide()')
	.modal-content
		.modal-header 
			h1 {{word}}
		.modal-body 
			.alert(ng-class="{looking: 'alert-warning', success: 'alert-info', error: 'alert-danger'}[status]") {{sentence}}
			.entry(ng-repeat="entry in entries")
				p {{entry.part_of_speech}} 
				.sense(ng-repeat="sense in entry.senses")
					.input-group(ng-click='pickSense(sense, entry.part_of_speech, $event)')
						.input-group-addon
							span.glyphicon.glyphicon-check
						span.form-control {{sense.content}}