extends layout

block meta
		
block content
	.jumbotron
		unless user
			include auth/login
		table.table
			for book in books
				tr
					td
						a(href="/book/#{book.title}/page/1")= book.mainTitle
							if book.ep
								= " " + book.ep
							if book.subTitle
								small= " - " + book.subTitle.toLowerCase()

			