doctype 5
html#ng-app(ng-app="LearnByRead")
	head
		title= title
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
		!= js('angular.js')
		script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular-animate.js")
		!= js('app.js')
		!= css('bootstrap.css')
		!= css('layout.css')
		block meta
	body
		.container(ng-controller="RootCtrl")
			.navbar.navbar-inverse
				.navbar-header
					a.navbar-brand(href="/") Readtionary
				.collapse.navbar-collapse
					ul.nav.navbar-nav
						li
							a(href="/board") Words
						li
							if user
								a(href="/logout") logout
							else
								a(href="/login") login
			
			block content

			#message.col-xs-12.alert(ng-hide="hideMessage", ng-class="{success: 'alert-success', error: 'alert-danger'}[message.status]") {{message.content}}

			#foot 
				ol.breadcrumb
					li.active Powered By 
					li
						a Node.js
					li
						a Wiktionary
					li
						a Bootstrap
					li 
						a Stanford NLP