@import colors

#content
	cursor:pointer

// footer
#foot 
	border-top:1px solid #dddddd
// footer

// utility
.IPA
	font-family:"Charis SIL", "Doulos SIL", Gentium, GentiumAlt,"DejaVu Sans", Code2000, "TITUS Cyberbit Basic","Arial Unicode MS", "Lucida Sans Unicode","Chrysanthi Unicode"
	color:#3a87ad
	float:right

// utility

// message
#message
	-webkit-transition:0.5s linear all;
	transition:0.5s linear all;
	position:fixed
	bottom:0
	left:0
	width:100%
	margin-bottom:0
	opacity:1
	text-align:center

#message.ng-hide-add, #message.ng-hide-remove
	display:block!important
	
#message.ng-hide
	line-height:0
	opacity:0
//message

// auth
#login-form 
	padding:auto
	margin-bottom:20px
	.form-group, .btn
		margin-right:5px
// auth

// book reader
.book
	.title
		text-align:center
.sense
	.input-group
		cursor:pointer
		margin-bottom: 5px
		&:hover
			.form-control, .input-group-addon
				color: #468847
				background-color: #dff0d8
				border-color: #d6e9c6
.selected-word
	color: #b81e0d
	font-weight: bold
// book reader