@import colors

#content
	cursor:pointer

#message
	-webkit-transition:0.5s linear all;
	transition:0.5s linear all;
	position:fixed
	bottom:0
	left:0
	width:100%
	margin-bottom:0
	opacity:1
	text-align:center

#message.ng-hide-add, #message.ng-hide-remove
	display:block!important
	
#message.ng-hide
	line-height:0
	opacity:0

.sense
	.input-group
		cursor:pointer
		margin-bottom: 5px
		&:hover
			.form-control, .input-group-addon
				color: #468847
				background-color: #dff0d8
				border-color: #d6e9c6